.header {
    /*vh是viewport height 的意思*/
    height: 95vh;
    background-image: linear-gradient(to right bottom,
            $color-primary-light,
            $color-primary-dark),
        url(../img/header3.jpeg);
    background-size: cover;
    /*随着窗口大小改变 图片顶部始终贴着窗口顶部*/
    background-position: top;
    /*一个白色的切割， 这里的%是相对于该元素而言的*/
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    // &相当于copy了header
    &__logo-box {
        position: absolute;
        /*此处的参考是自己的父元素，因此父元素的position要设为relative*/
        top: 8rem;
        left: 8rem;
    }

    &__logo {
        height: 6rem;

    }

    &__text-box {
        /*最好的定位在中心的方法 absolute*/
        position: absolute;
        top: 25%;
        left: 50%;
        /*改变box的中心定位点：由左上到中心*/
        transform: translate(-50%, -50%);
        text-align: center;
    }

}