.composition {
    position: relative;

    &__photo {
        width: 80%;
        height: 25rem;
        box-shadow: 0 1.5rem 2rem rgba(black, .2);
        border-radius: 10px;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 2rem;

        &--p1 {
            left: 0;
            top: -4rem;
        }

        &--p2 {
            right: 0;
            top: 4rem;
        }

        &--p3 {
            left: 10%;
            top: 14rem;
        }

        &:hover {
            outline: 1.5rem solid $color-primary;
            transform: scale(1.1) translateY(-0.5rem);
            box-shadow: 0 2.5rem 4rem rgba(black, .5);
            z-index: 20;
        }
    }

    // 当这整个composition被hover时，选择__photo中没有被hover的元素
    &:hover &__photo:not(:hover) {
        transform: scale(0.95);
    }

}